body {
  background-color: #dbe3cc;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

a:link, a:visited {
  color: inherit;
  text-decoration: underline;
}

h2 {
  text-align: center;
  padding-top: 2rem;
}

h3 {
  padding: 2rem;
  text-align: center;
}
